@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    工业园区<br />
    星湖街<br />
    <abbr title="Phone">P:</abbr>
    18862485263
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:wangshuangshuang01@beyondsoft.com">support Email</a><br />
    <strong>Support:</strong>   <a href="mailto:wangshuangshuang01@beyondsoft.com">support Email</a><br />
    <strong>Support:</strong>   <a href="mailto:wangshuangshuang01@beyondsoft.com">support Email</a><br />
    <strong>Support:</strong>   <a href="mailto:wangshuangshuang01@beyondsoft.com">support Email</a><br />
</address>