@{
    ViewBag.Title = "Home Page";
}
@using EHOME.Models
@model IEnumerable<TeamMember>
<div class="jumbotron">
    <h1>小组成员</h1>
</div>

<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-md-4">
            <h2>@item.MemberName</h2>
            <p>
                <img src="@item.HeaderImage" />
            </p>
            <p>
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-default" })
            </p>
        </div>

    }

</div>
   