@{
    ViewBag.Title = "Home Page";
}
@using EHOME.DTO
@model IEnumerable<TeamMemberDTO>
<div class="jumbotron">
    <h1>小组成员</h1>
    @Html.ActionLink("添加组员", "AddMember")
</div>

<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-md-4">
            <h2>@item.MemberName</h2>
            <p>
                <img src="@item.HeaderImage"  width="150" height="130"/>
            </p>
            <p>
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-default" })
            </p>
        </div>

    }

</div>
   